# Configuration Options

Table of contents:

{{ range . -}}
- {{ .MarkdownLink }}{{ with .Description }}: {{ . }}{{ end }}
{{ end }}

{{- range . }}
## {{ .Title }}
{{- if .Description }}

{{ .Description }}
{{- end }}

{{ groupTable . }}
{{- range .Options }}
{{- if ne .Type "object"  }}
### {{ .Header }}
{{- if .Short }}

{{ .Short }}
{{- end }}

{{ optionTable . }}
{{- if .Long }}
{{ .Long }}
{{ end }}
{{- end }}
{{- end }}
{{- end -}}
